* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: unset;
  text-decoration: none;
  list-style: none;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button,
input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}
/****** reusable classes ******/
.container {
  max-width: calc(100% - 6.4rem);
  width: 115.5rem;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}
.between {
  justify-content: space-between;
}
.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
}
.small-title {
  font-size: 1.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray-color);
  margin: 3rem 0 1.5rem;
  white-space: nowrap;
}
.big-title {
  font-size: 4.2rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: var(--black-color);
  margin-bottom: 7rem;
  white-space: nowrap;
}
.center {
  text-align: center;
}
.underline {
  position: relative;
}
.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 3.6rem;
  height: 5px;
  background-color: var(--yellow-color);
  border-radius: 3rem;
}
